style.css

body {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     background-color: aqua;
    }

.container-nav{
    background-color: rgb(red, green, blue
    display : flex;
    flex-direction: row;
    justify-content_ space-around;
    width: 100%; 
    heith_ 50 px;
    aling-items: flex-start
}

.box{
    background-color: blue;

}